=render 'profile'

- @week.each do |date|
  =render 'modal', date: date

%table.table.is-fullwidth.has-background-black.has-text-light
  %tbody
    - @week.each do |date|
      %tr
        %td.is-paddingless.has-text-centered
          .mb-3.ml-5.is-pulled-left
            %p= %w(日 月 火 水 木 金 土)[date.wday]
            %p.is-size-4.circle.is-primary.has-text-weight-bold= date.day
            - if current_user && current_user.twitter_id == params[:id]
              %br
              %button.button.is-small.is-dark.is-outlined.is-circle.is-primary.has-text-white.is-size-4.mt-2{id: "open-modal-#{date}"} ＋
        %td.is-paddingless{ width: '75%;' }
          .mb-4
            - @plans.where(start_date: date.beginning_of_day...date.end_of_day).each do |plan|
              %button.button.is-paddingless.is-large.is-dark.is-outlined.has-text-light.is-fullwidth.is-left-rounded.has-text-left.mb-2
                %span.is-inline-block.is-size-3.mx-3= plan.emoji
                .is-size-6.has-text-weight-bold{ style: 'margin-right: auto;' }
                  %p= truncate(plan.name, length: 20)
                  %p= plan.start_date.strftime('%H:%M') + ' - ' + plan.end_date.strftime('%H:%M')
= javascript_pack_tag 'drower'
= javascript_pack_tag 'open_modal'
