!!!
%html.has-background-black
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type", name: 'viewport', content: "width=device-width,initial-scale=1"}
    %title Gemify
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{rel: 'stylesheet',  href: 'https://use.fontawesome.com/releases/v5.9.0/css/all.css' }
    = stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bulma@0.9.1/bulma.sass'
    %script{ src: 'https://code.jquery.com/jquery-3.0.0.min.js' }
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'logo/favicon_black.ico'
  - unless request.user_agent.include?('Mobile')
    -# PCの場合
    - style = 'width: 450px; margin-right: auto; margin-left: auto;'
  %body{ style: style }
    - if flash[:alert]
      .flash.notification.is-danger.has-text-centered.is-radiusless.is-marginless
        = flash[:alert]

    - if flash[:notice]
      .flash.notification.is-primary.has-text-centered.is-radiusless.is-marginless
        = flash[:notice]

    - if current_user
      =render 'layouts/header'
      .container
        = yield
    - else
      .container.mt-5
        = yield
